@import (reference) "../__config";
@import (reference) "../__colors";
@import (reference) "../__mixins";

.label, .badge {
  display: inline-block;
  padding: 0 5px 1px;
  font-size: 84.6%;
  font-family: @font-os-semibold;
  font-weight: normal;
  color: #fff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  background-color: #999;
}

.label {
  .border-radius(3px);
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  .border-radius(9px);
}

.label--important {
  background-color: @badge-important-color;
}

.label--info {
  background-color: @badge-info-color;
}

.label--warning {
  background-color: @badge-warning-color;
}

.label--error {
  background-color: @badge-error-color;
}

.label--success {
  background-color: @badge-success-color;
}
