@import (reference) "../__colors";
@import (reference) "../__config";
@import (reference) "../__mixins";

[class*="flash-message--"], [class*="message--"] {
  position: relative;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px 35px 10px 15px;
}

[class*="message--no-dismiss"] {
  padding: 10px 15px;

  .dismiss-flash {
    display: none;
  }
}

.dismiss-flash {
  position: absolute;
  right: 10px;
  top: 11px;

  i {
    font-size: @font-size + 2px;;
  }
}

.flash-message--error, .message--error {
  background-color: @errorBgColor;
  border: 1px solid @errorBorderColor;
  color: @errorColor;

  a {
    color: @errorLinkColor;
  }
}

.flash-message--warning, .message--warning {
  background-color: #fff6bf;
  border-color: #ffd324;
  color: #514721;

  a {
    color: #000;
  }
}

.flash-message--success, .message--success {
  background-color: #e6efc2;
  border-color: #c6d880;
  color: #264409;

  a {
    color: #000;
  }
}

.flash-message--info, .message--info {
  background-color: #d5edf8;
  border-color: #92cae4;
  color: #205791;

  a {
    color: #000;
  }
}
