@import (reference) '../__config';
@import (reference) '../__mixins';

label {
  display: inline-block;
  font-weight: 700;
  color: #393232;
  cursor: pointer;
  .rem(margin-bottom, 3px);

  span {

    .form-row.required > &:after {
      display: inline-block;
      .rem(padding-left, 3px);
      .rem(font-size, @font-size - 1px);
      content: "*";
      color: @brand-error-color;
    }
  }

  small {
    color: @gray-light;
    display: block;
    font-weight: 400;
    font-size: 80%;
  }

  code {
    .rem(margin, 0, 1px);
    .rem(padding, 3px,5px,2px);
    .rem(font-size, 13px);
    background: rgba(0, 0, 0, 0.07);
  }

  &:empty {
    visibility: hidden;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: @form-input-bg-color;
  background-image: none !important;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  box-shadow: none !important;
  color: @form-input-color;
  filter: none !important;
  font-weight: normal;
  outline: 0 none;
  .rem(padding, 6px,6px,5px);
  vertical-align: top;
  border: 1px solid @form-input-border-color;
  width: 100%;

  &:focus {
    border-color: @form-input-border-color--focus;
    outline: none;
    .box-shadow(none);
  }

  &:disabled {
    cursor: not-allowed;
    color: @form-input-disabled-color;
    background-color: @form-input-disabled-bg-color;
  }
}

textarea {
  resize: vertical;
}

input[type="number"] {
  .rem(padding, 3px,2px,2px,3px);

  &.without-spinner {
    .rem(padding, 6px,6px,5px);
    -moz-appearance:textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

input[type="checkbox"] {
  .rem(margin-right, 5px);
  cursor: pointer;
  position: relative;
  .rem(top, 2px);
}

input[type="radio"] {
  .rem(margin-right, 3px);
  cursor: pointer;
}

select {
  .rem(padding, 5px,5px,4px);
  border: 1px solid @form-input-border-color;
  font-family: @font-os;
  font-weight: 400;

  &:focus {
    border-color: @form-input-border-color--focus;
    outline: none;
  }

  &.full {
    width: 100%;
  }

  optgroup {
    font-weight: 600;
    font-style: normal;
  }

  &.select-small {
    .rem(padding, 3px,4px);
    .rem(font-size, 13px);
  }

  option {
    color: @gray-darker;

    &[disabled] {
      color: @gray-lighter;
    }
  }

  &.empty {
    color: @form-placeholder-color;

    optgroup {
      color: @gray-darker;
    }
  }

  &[disabled="disabled"] {
    cursor: not-allowed;
    color: @form-input-disabled-color;
    background-color: @form-input-disabled-bg-color;
  }
}

.input {

  &.required {

    label:after {
      display: inline-block;
      .rem(padding-left, 3px);
      .rem(font-size, @font-size - 1px);
      content: "*";
      color: @brand-error-color;
    }
  }

  &.error {

    input:not([type="radio"]):not([type="checkbox"]),
    textarea,
    select {
      border-color: @state-error-font-color;
    }
  }
}

.field {

  input,
  textarea,
  select {

    & ~ small {
      display: block;
      .rem(padding-top, 3px);
      color: @form-input-info-color;
    }
  }
}

.radio,
.checkbox {

  & > label {
    font-weight: normal;
  }
}

span.error-message, div.error-message {
  display: block;
  .rem(padding-top, 2px);
  color: @state-error-font-color;

  & > ul {
    margin: 0;
    .rem(padding-left, 20px);
  }
}

.form-row {
  .rem(margin-bottom, 20px);

  &.error {

    input:not([type="radio"]):not([type="checkbox"]),
    textarea,
    select {
      border-color: @state-error-font-color;
    }

    & > label {
      color: @state-error-font-color;
    }
  }
}

.form-section {
  .rem(margin, 0,-10px,10px);
  .rem(padding, 15px,10px);
  background-color: @form-section-bg-color;
  border-style: solid;
  border-color: @form-section-border-color;
  border-width: 1px 0;
}

.form-section-title {
  .rem(font-size, 18px);
}

.form-section-description {
  font-size: 80%;
  color: @form-section-description-color;
}

.form-controls {
  .rem(padding, 10px);
  background-color: @form-section-bg-color;
  border-style: solid;
  border-color: @form-section-border-color;
  border-width: 1px 0;

  button {
    .rem(margin-right, 15px);
  }

  .content--padding form:last-child > &:last-child {
    .rem(margin-bottom, -11px);
  }

  body:not(.wasabi-core--layout-support) & {
    .rem(margin, 0,-10px);
  }
}

.bottom-links {
  .rem(padding, 10px,10px,0);
}

.form-info {

  .form-info-content {
    .rem(padding, 20px);
    background-color: @form-row-bg-color;
    border-width: 0 1px;
    border-style: solid;
    border-color: @form-row-border-color;

    &.form-info-success {
      color: @state-success-font-color;
    }

    &.form-info-warning {
      color: @state-warning-font-color;
    }

    &.form-info-info {
      color: @state-info-font-color;
    }

    &.form-info-error {
      color: @state-error-font-color;
    }
  }
}


@media only screen and (min-width: 768px) {

  form.no-top-section {
    border-top: 1px solid @form-row-border-color;
  }

  .form-section {
    margin: 0;
    border-width: 1px 1px 2px;
  }

  .form-row {
    margin: 0;
    .rem(padding, 20px);
    border-style: solid;
    border-color: @form-row-border-color;
    border-width: 0 1px;
    background-color: #fff;

    & + .form-row {
      padding-top: 0;
    }
  }

  body:not(.wasabi-core--layout-support) .form-controls {
    .rem(margin, 0,0,10px);
    border-width: 1px;
  }
}

@media only screen and (min-width: 1200px) {

  .form-row {
    padding: 0;
    display: table;
    background-color: @form-row-bg-color;

    & > label {
      .rem(padding, 27px,20px,20px);
      float: left;
      width: 100%;
      .rem(min-width, 200px);
      vertical-align: top;

      &  + .field {
        border-left: 1px solid @form-row-border-color;
      }
    }

    & > .field {
      display: table-cell;
      .rem(padding, 20px);
      background-color: #fff;
      vertical-align: top;
      width: 100%;

      &.small {

        input {
          .rem(max-width, 100px);
        }
      }
    }

    &.form-row-radio {

      .field > .radio:first-of-type {
        .rem(margin-top, 7px);
      }
    }

    &.form-row-select {

      .field {

        & > .checkbox:first-of-type {
          .rem(margin-top, 7px);
        }

        & > select:first-of-type {
          .rem(margin-top, 1px);
        }
      }
    }

    &.form-row-checkbox {

      .field {
        .rem(padding-top, 26px);
      }
    }
  }

  .form-section {
    .rem(padding, 20px);
  }

  .form-controls {
    .rem(padding, 20px);
    border-width: 1px;

    .content--padding form:last-child > &:last-child {
      margin-bottom: 0;
      border-bottom-width: 1px;
    }
  }
}
