@import (reference) '../__config';
@import (reference) '../__mixins';

label {
  font-weight: 700;
  color: #444;
  cursor: pointer;

  .form-row.required &:before {
    position: relative;
    top: 0;
    .rem(left, -10px);
    .rem(margin-right, -7px);
    .rem(font-size, @font-size - 1px);
    content: "*";
    color: @brand-error-color;
  }

  small {
    color: @gray-light;
    display: block;
    font-weight: 400;
    font-size: 80%;
  }

  code {
    .rem(margin, 0, 1px);
    .rem(padding, 3px,5px,2px);
    .rem(font-size, 13px);
    background: rgba(0, 0, 0, 0.07);
  }

  &:empty {
    visibility: hidden;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: @form-input-bg-color;
  background-image: none !important;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  box-shadow: none !important;
  color: @form-input-color;
  filter: none !important;
  font-weight: normal;
  outline: 0 none;
  .rem(padding, 6px,6px,5px);
  vertical-align: top;
  border: 1px solid @form-input-border-color;
  width: 100%;

  &:focus {
    border-color: @form-input-border-color--focus;
    outline: none;
    .box-shadow(none);
  }

  &:disabled {
    cursor: not-allowed;
    color: @form-input-disabled-color;
    background-color: @form-input-disabled-bg-color;
  }
}

input[type="number"] {
  .rem(padding, 3px,2px,2px,3px);
}

input[type="checkbox"] {
  .rem(margin-right, 5px);
  cursor: pointer;
}

input[type="checkbox"] + label {
  position: relative;
  .rem(top, -1px);
}

input[type="number"].without-spinner {
  .rem(padding, 6px,6px,5px);
  -moz-appearance:textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

span.error-message, div.error-message {
  display: block;
  .rem(padding-top, 2px);
  color: @state-error-font-color;

  & > ul {
    margin: 0;
    .rem(padding-left, 20px);
  }
}

.input-group {
  border-collapse: separate;

  & > input.form-error {
    border: 1px solid @brand-error-color;
  }
}

.form-row {
  display: table;
  background-color: @form-row-bg-color;
  border-style: solid;
  border-color: @form-row-border-color;
  border-width: 0 1px;

  & > label {
    .rem(padding, 27px,20px,20px);
    float: left;
    width: 100%;
    .rem(min-width, 200px);
    vertical-align: top;
  }

  & > .field {
    float: none;
    display: table-cell;
    .rem(padding, 20px);
    background-color: #fff;
    vertical-align: top;
    width: 100%;

    &.no-input {
      .rem(padding-top, 27px);
      .rem(padding-bottom, 25px);
    }

    &.top-pd {
      .rem(padding-top, 27px);
    }

    & > .sub-row {
      .rem(padding-bottom, 20px);
    }

    &.small {

      input {
        .rem(max-width, 100px);
      }
    }

    .form-row {
      display: block;
    }
  }

  .field.input-group {
    input + .input-group-addon {
      border-left: none;
      .border-radius(0 5px 5px 0);
    }
  }

  & > label + .field {
    border-left: 1px solid @form-row-border-color;
  }

  & table.list {
    .rem(max-width, 900px);
    border: 1px solid @form-row-border-color;
  }

  &.form-row-checkbox, &.form-row-radio {

    & > label {
      .rem(padding-top, 20px);
    }

    .field > label {

      input[type="checkbox"] {
        position: relative;
        .rem(top, 1px);
      }
    }
  }

  &.form-row-radio {

    .field > label {
      display: block;
      .rem(max-width, 250px);
      .rem(padding, 5px,0);

      &:first-of-type {
        .rem(margin-top, -5px);
      }

      &:before {
        display: none;
      }
    }
  }

  &.form-row-toggleSwitch {

    .field {
      .rem(padding-top, 23px);
    }
  }

  &.form-row-select {

    .field {

      .checkbox {

        &:first-of-type {
          padding-top: 7px;
        }

        label:before {
          display: none;
        }
      }
    }
  }

  &.last-of-section {
    border-bottom: 1px solid @form-section-border-color;
  }
}

.form-row.error, div.input.error {

  input[type="text"], input[type="email"], input[type="password"], textarea, select {
    border-color: @state-error-font-color;
  }

  & > label {
    color: @state-error-font-color;
  }
}

form.no-top-section {
  border-top: 1px solid @form-row-border-color;
}

.form-section {
  .rem(padding, 15px,20px);
  background-color: @form-section-bg-color;
  border-style: solid;
  border-color: @form-section-border-color;
  border-width: 1px;
}

.form-section-title {
  .rem(font-size, 18px);
}

.form-section-description {
  font-size: 80%;
  color: @form-section-description-color;
}

textarea {
  resize: vertical;
}

.form-controls {
  .rem(padding, 20px);
  background-color: @form-section-bg-color;
  border: 1px solid @form-section-border-color;
}

.form-controls, .modal-confirm {
  button {
    .rem(margin-right, 15px);
  }
}

.form-row .field small {
  display: block;
  color: @form-input-info-color;
  .rem(padding-top, 2px);

  & + .multi-fileupload {
    .rem(margin-top, 5px);
  }
}

select {
  .rem(padding, 5px,5px,4px);
  border: 1px solid @form-input-border-color;
  font-family: @font-os;
  font-weight: 400;

  &:focus {
    border-color: @form-input-border-color--focus;
    outline: none;
  }

  &.full {
    width: 100%;
  }

  optgroup {
    font-weight: 600;
    font-style: normal;
  }

  &.select-small {
    .rem(padding, 3px,4px);
    .rem(font-size, 13px);
  }

  option {
    color: @gray-darker;

    &[disabled] {
      color: @gray-lighter;
    }
  }

  &.empty {
    color: @form-placeholder-color;

    optgroup {
      color: @gray-darker;
    }
  }

  &[disabled="disabled"] {
    cursor: not-allowed;
    color: @form-input-disabled-color;
    background-color: @form-input-disabled-bg-color;
  }
}

input[type="radio"] {
  .rem(margin-right, 3px);
  cursor: pointer;

  & + label {
    position: relative;
    .rem(top, -1px);
    display: inline;
    .rem(margin-right, 10px);
  }
}

.no-btop {
  border-top: none !important;
}

.bottom-links {
  .rem(padding, 10px,10px,0);
}

form.bulk {
  float: left;

  &.top {
    .rem(padding-bottom, 10px);
  }

  &.bottom {
    .rem(padding, 10px,0);
  }

  .select-small {
    .rem(margin-right, 8px);
  }

  .button.small {
    position: relative;
    .rem(top, -1px);
  }
}

.form-info {

  .form-info-content {
    .rem(padding, 20px);
    background-color: @form-row-bg-color;
    border-width: 0 1px;
    border-style: solid;
    border-color: @form-row-border-color;

    &.form-info-success {
      color: @state-success-font-color;
    }

    &.form-info-warning {
      color: @state-warning-font-color;
    }

    &.form-info-info {
      color: @state-info-font-color;
    }

    &.form-info-error {
      color: @state-error-font-color;
    }
  }
}
