@import (reference) "../__config";
@import (reference) "../__mixins";

#page-header {
  position: fixed;
  top: 0;
  left: 0;
  .rem(padding, 0 10px 0 0);
  background-color: @header-bg-color;
  z-index: @zindex-navbar-fixed;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & > ul {

    & > li {
      float: left;
    }
  }

  .brand {
    .rem(margin-left, 42px);
    display: inline-block;
    .rem(line-height, @header-height);
    .rem(font-size, @computed-height);
    color: @header-brand-color;
  }

  .lang-switch {
    float: right;
    .rem(margin-right, 10px);

    li {
      display: inline-block;

      a {
        display: inline-block;
        .rem(line-height, @header-height);
        .rem(padding, 0, @computed-height--half);
        color: @lang-switch-link-color;

        &:hover {
          background-color: @lang-switch-link-bg-color--hover;
        }
      }

      &.active a, &.active a:hover {
        color: @lang-switch-link-color--active;
        background-color: @lang-switch-link-bg-color--active;
      }
    }
  }

  .user-menu {
    float: right;

    & > a {
      display: inline-block;
      .rem(padding, 0,@computed-height--half,0,@font-size);
      .rem(line-height, @header-height);
      color: @user-menu-link-color;

      i {
        display: inline-block;
        position: relative;
        .rem(margin-left, 5px);
        .rem(width, 12px);
        .rem(font-size, @font-size + 2px);
        .rem(top, 3px);
      }
    }

    & > a:hover, & > a:focus, &.open > a {
      background-color: @user-menu-link-color--hover;
    }

    .dropdown-menu {
      background-color: @user-menu-dropdown-bg-color;

      a {
        display: block;
        color: @user-menu-dropdown-link-color;

        &:hover {
          background-color: @user-menu-dropdown-link-color--hover;
        }
      }
    }
  }
}

.cake-error ~ #page-header, .xdebug-var-dump ~ #page-header {
  position: static;
}

@media only screen and (min-width: 768px) {

  #page-header {
    .rem(padding-right, 20px);

    .brand {
      display: none;
    }
  }
}

@media only screen and (min-width: 1200px) {

  #page-header {
    .rem(padding-right, 30px);
  }
}
