@import (reference) "../__config";
@import (reference) "../__colors";
@import (reference) "../__mixins";

#page-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 @computed-height 0 0;
  background-color: @header-bg-color;
  z-index: 9999;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & > ul {

    & > li {
      float: left;
    }
  }

  .brand {
    margin-left: @computed-height--half;
    display: inline-block;
    line-height: @header-height;
    font-size: @computed-height;
    color: @header-brand-color;
  }

  .nav-toggle {
    display: inline-block;
    line-height: @header-height;
    color: @header-nav-toggle-color;
    text-decoration: none;
    background-color: @header-nav-toggle-bg-color;
    outline: none;

    i {
      display: inline-block;
      width: 36px;
      text-align: center;
      .transform(translate(0, 5px));

      &:before {
        font-size: 24px;
      }
    }

    body.nav-closed & {
      background-color: transparent;
    }

    @media only screen and (max-width: @menuBreakPoint) {
      background-color: transparent;
    }
  }

  .lang-switch {
    float: right;
    margin-right: 10px;

    li {
      display: inline-block;

      a {
        display: inline-block;
        line-height: @header-height;
        padding: 0 @computed-height--half;
        color: @lang-switch-link-color;

        &:hover {
          background-color: @lang-switch-link-bg-color--hover;
        }
      }

      &.active a, &.active a:hover {
        color: @lang-switch-link-color--active;
        background-color: @lang-switch-link-bg-color--active;
      }
    }
  }

  .user-menu {
    float: right;

    & > a {
      padding: 0 @computed-height--half 0 @font-size;
      display: inline-block;
      line-height: @header-height;
      color: @user-menu-link-color;

      i {
        display: inline-block;
        position: relative;
        margin-left: 5px;
        width: 12px;
        font-size: @font-size + 2px;
        top: 3px;
      }
    }

    & > a:hover, & > a:focus, &.open > a {
      background-color: @user-menu-link-color--hover;
    }

    .dropdown-menu {
      background-color: @user-menu-dropdown-bg-color;

      a {
        display: block;
        color: @user-menu-dropdown-link-color;

        &:hover {
          background-color: @user-menu-dropdown-link-color--hover;
        }
      }
    }
  }
}
