@import (reference) "../__config";
@import (reference) "../__colors";
@import (reference) "../__mixins";

.lang-switch {
  float: right;
  margin-right: 10px;

  li {
    display: inline-block;

    a {
      display: inline-block;
      line-height: @header-height;
      padding: 0 @computed-height--half;
      color: @lang-switch-link-color;

      &:hover {
        background-color: @lang-switch-link-bg-color--hover;
      }
    }

    &.active a, &.active a:hover {
      color: @lang-switch-link-color--active;
      background-color: @lang-switch-link-bg-color--active;
    }
  }
}
