@import (reference) "../__colors";
@import (reference) "../__config";
@import (reference) "../__mixins";

.pagination {
  margin: 15px 0;
  background: @pagination-bg-color;
  border: 1px solid darken(@pagination-bg-color, 6%);
  line-height: 40px;

  li {
    display: inline-block;

    &.active a {
      background-color: @pagination-link-bg-color--active;
      color: @pagination-link-color--active;
    }
  }

  a {
    display: inline-block;
    min-width: 35px;
    text-align: center;

    &.disabled {
      color: #ddd;
      cursor: default;
    }
  }

  .item-count {
    float: left;
    font-size: 12px;
    color: @pagination-item-count-color;
    padding: 0 20px;
  }

  nav {
    float: left;
  }

  .limit {
    float: right;
    margin: 4px 3px 0 0;
  }
}