@import (reference) "../__config";
@import (reference) "../__mixins";

.sidebar {
  position: absolute;
  left: -99999px;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  float: left;
  width: @sidebar-width--collapsed;
  background-color: @sidebar-bg-color;
  z-index: @zindex-sidebar;
  .opacity(0);
  .transition(opacity 0.2s ease);

  .gm-scrollbar.-vertical {
    opacity: 0;
    .transition(opacity 0.2s ease);
  }

  &:hover {
    .gm-scrollbar.-vertical {
      opacity: 1;
    }
  }
}

.sidebar--open-handle {
  display: none;
  position: absolute;
  .rem(top, 9px);
  .rem(right, -16px);
  .rem(width, 16px);
  .rem(height, 25px);
  .rem(font-size, 14px);
  .border-radius(0 3px 3px 0);
  text-align: center;
  color: #bfcbd4;
  text-decoration: none;
  background-color: lighten(@brand-primary, 15%);
  .transition(all 0.2s ease);

  &:focus,
  &:hover {
    color: #fff;
  }
}

.sidebar--open-handle-icon {
  display: inline-block;

  &:before {
    position: relative;
    .rem(top, 2px);
    .rem(left, -1px);
  }
}

.sidebar--logo {
  position: relative;
  .rem(height, 42px);
  background-color: lighten(@brand-primary, 15%);
  color: #fff;
  .rem(font-size, 21px);
  .rem(line-height, 42px);
}

.sidebar--logo-short {
  display: none;
  text-align: center;
}

.sidebar--logo-full {
  .rem(padding-left, 42px);
}

.sidebar--navigation-toggle {
  position: absolute;
  display: inline-block;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  font-size: 0;
  z-index: 5;
  .rem(width, 24px);
  .rem(height, 24px);
  .rem(top, 9px);
  .rem(left, 10px);
  .user-select(none);
  .border-radius(5px);
  .transition(.3s);

  &:focus,
  &:hover {
    outline: none;
    .box-shadow(none);
  }
}

.sidebar--navigation-toggle-lines {
  position: relative;

  &,
  &:before,
  &:after {
    display: inline-block;
    .rem(width, 20px);
    .rem(height, 3px);
    .transition(.3s);
    .border-radius(2px);
    background-color: #fff;
  }

  &:before,
  &:after {
    position: absolute;
    left: 0;
    content: '';
    .transform-origin(10px center);
  }

  &:before {
    .rem(top, -6px);
  }

  &:after {
    .rem(top, 6px);
  }
}

.sidebar--logo {

  .sidebar--navigation-toggle-lines {
    .rem(top, -7px);
  }
}

.sidebar-is-open {

  .sidebar {
    left: 0;
    width: 100%;
    .opacity(1);
  }

  .sidebar--navigation-toggle-lines {
    background-color: transparent;

    &:before {
      .rem(top, -9px);
      .transform(rotate3d(0, 0, 1, 45deg));
      .transform-origin(0 7px);
    }

    &:after {
      .rem(top, 3px);
      .transform(rotate3d(0, 0, 1, -45deg));
      .transform-origin(7px 0);
    }
  }
}

.sidebar--menu-wrapper {
  overflow-y: hidden;
  height: calc(~"100vh - 42px");
}

.sidebar--menu {
  padding-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {

  .sidebar {
    left: 0;
    width: @sidebar-width--collapsed;
    .opacity(1);
    .transition(none);
  }

  .sidebar--menu {

    &:before {
      content: 'collapsed';
      display: none;
    }
  }

  .sidebar--navigation-toggle,
  .sidebar--logo-full {
    display: none;
  }

  .sidebar--logo-short {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {

  .sidebar {
    left: 0;
    width: @sidebar-width;
    .opacity(1);
    .transition(none);
  }

  .sidebar--navigation-toggle {
    display: none;
  }

  .sidebar--open-handle {
    display: inline-block;
  }

  .sidebar--logo-full {
    .rem(padding-left, 22px);
  }

  .sidebar-is-collapsed {

    .sidebar {
      width: @sidebar-width--collapsed;

      & + #content {
        margin-left: @sidebar-width--collapsed;
      }
    }

    .sidebar--logo-full {
      display: none;
    }

    .sidebar--logo-short {
      display: block;
    }

    .sidebar--open-handle-icon {
      .transform(rotate(-180deg));

      &:before {
        .rem(top, -3px);
        left: 0;
      }
    }
  }
}
