@import (reference) "../__config";
@import (reference) "../__colors";
@import (reference) "../__mixins";

.user-menu {
  float: right;

  & > a {
    padding: 0 @computed-height--half 0 @font-size;
    display: inline-block;
    line-height: @header-height;
    color: @user-menu-link-color;

    i {
      display: inline-block;
      position: relative;
      margin-left: 5px;
      width: 12px;
      font-size: @font-size + 2px;
      top: 3px;
    }
  }

  & > a:hover, & > a:focus, &.open > a {
    background-color: @user-menu-link-color--hover;
  }

  .dropdown-menu {
    background-color: @user-menu-dropdown-bg-color;

    a {
      display: block;
      color: @user-menu-dropdown-link-color;

      &:hover {
        background-color: @user-menu-dropdown-link-color--hover;
      }
    }
  }
}
