@import (reference) '../__config';
@import (reference) '../__mixins';

.wasabi-core--permissions-index {

  th.section {
    border-bottom: 1px solid @table-th-border-color;
  }

  th.groups {
    text-align: center;
  }

  th.group {
    width: 108px;
    font-size: 12px;
    text-align: center;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      width: 109px;
    }
  }

  td.section {
    font-weight: 600;
  }

  td.section, tr:hover td.section {
    background-color: #e8e8e8;
  }

  td.permission {
    text-align: center;
  }

  .datatable > tbody {

    tr:last-child td {
      border-bottom: none;
    }
  }

  .btn-group {

    & > label.btn {

      //&:nth-of-type(1) {
      //  &.active, &.active:hover {
      //    color: #fff;
      //    background-color: #ff0000;
      //  }
      //}
      //
      //&:nth-of-type(2) {
      //  &.active, &.active:hover {
      //    color: #fff;
      //    background-color: #005ab5;
      //  }
      //}
      //
      //&:nth-of-type(3) {
      //  &.active, &.active:hover {
      //    color: #fff;
      //    background-color: #01b500;
      //  }
      //}
    }
  }
}
