.wasabi-core--languages-index {

  .languages {

    .action-sort {
      color: #bbb;
      cursor: row-resize;

      i {
        position: relative;
        @include rem(top, 1px);
      }
    }
  }
}
