@import (reference) "../__colors";
@import (reference) "../__config";
@import (reference) "../__mixins";

*, *:before, *:after {
  .box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  font-family: @font-os;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;
  background-color: @body-bg-color;
  overflow: hidden;
}

nav {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

a {
  color: @link-color;
  text-decoration: none;

  &:hover {
    color: @link-color--hover;
  }
}

b, strong {
  font-weight: 600;
}

.center {
  text-align: center;
}

.valign-middle {
  vertical-align: middle;
}

.hidden {
  display: none;
}

.visuallyhidden {
  .visuallyhidden();
}

#wrapper {
  width: 100%;
  min-height: 100%;
}

#content {
  position: relative;
  margin-left: 0;

  .content--wrapper {
    position: relative;
    height: calc(~'100vh - 42px');
    height: calc(~'100vh - 2.625rem');
    .rem(margin-top, 42px);
  }
}

.content--padding {
  .rem(padding, 10px);
}

@media only screen and (min-width: 768px) {

  #content {
    .rem(margin-left, @sidebar-width--collapsed);
  }

  .content--padding {
    .rem(padding, 20px);
  }
}

@media only screen and (min-width: 1200px) {

  #content {
    .rem(margin-left, @sidebar-width);
  }

  .content--padding {
    .rem(padding, 30px);
  }
}
