@import (reference) "../__config";
@import (reference) "../__colors";
@import (reference) "../__mixins";

.support {
  background-color: @support-body-bg-color;

  .support-wrapper {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 600px;
  }

  .support-image {
    margin-bottom: 20px;
    text-align: center;

    img {
      margin-left: -40px;
    }
  }

  .flash-message {
    margin: -20px -20px 20px;
    padding: 15px 20px 14px;
    border-width: 0 0 1px 0;
  }

  h1 {
    margin: -20px -20px 20px;
    padding: 20px 20px 18px;
    font-size: 18px;
    background-color: #f2f3f4;
    border-bottom: 1px solid #d5d7d7;
  }

  p {
    margin: 0 0 20px;
  }

  .support-wrapper {
    max-width: 400px;
  }

  .support-content {
    padding: 20px;
    background-color: #fff;
  }

  form {
    border-left: 1px solid @border-dark;
    border-top: 1px solid @border-dark;
    .box-shadow(3px 3px 4px #bbb);
  }

  .form-controls {
    border-width: 1px 0 0;
    padding: 15px 20px;
    text-align: right;

    ul {
      margin: 7px 0 0;
      padding: 0;
      list-style: none;
      float: left;
    }

    button {
      margin-right: 0;
    }
  }

  .bottom-links {
    padding: 20px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        text-align: center;
      }

      a {
        color: @gray-lighter;
        font-size: 12px;
      }
    }
  }
}

.support.login {

  .input {
    margin-bottom: 10px;

    &.checkbox {
      margin: 20px 0 0;
      padding-bottom: 20px;
    }
  }
}

.support.reset-password {

  .input {
    margin-bottom: 10px;
  }
}

.support.verify-by-token {

  .support-content {

    p:last-child {
      margin-bottom: 0;
    }
  }

  .form-controls {
    min-height: 65px;
  }
}

.support.register {

  h1, .flash-message {
    margin: 0;
  }

  .support-wrapper {
    max-width: 600px;
    padding: 50px 0 100px;
  }

  .support-content {
    padding: 0;

    .form-row {
      border-width: 0;
    }
  }
}
