.datatable-wrapper {
  overflow-x: auto;

  @include respond-to-min($breakpoint-menu-slide-in) {
    background-color: #fff;
    border-bottom: 1px solid $table-th-border-color;
  }
}

.datatable {
  width: 100%;
  vertical-align: top;
  border-spacing: 0;

  &.valign-middle {
    vertical-align: middle;
  }

  & > thead > tr > th,
  & > tfoot > tr > th,
  & > tbody > tr > td {
    text-align: left;

    &.center {
      text-align: center;
    }
  }

  & > thead > tr,
  & > tfoot > tr {

    & > th {
      @include rem(padding, 10px);
      font-weight: 600;
      color: #444;
      text-align: left;
      background-color: $table-th-bg-color;

      &:first-child {
        border-left: 1px solid $table-th-border-color;
      }

      &:last-child {
        border-right: 1px solid $table-th-border-color;
      }

      a {
        color: $table-th-link-color;

        span {
          border-bottom: 1px dotted darken($table-th-border-color, 15%);
        }

        &:hover span {
          border-color: $table-th-link-color;
        }

        [class*="icon-sortable-"] {
          @include rem(padding-left, 2px);
        }
      }
    }

    &:first-child > th {
      border-top: 1px solid $table-th-border-color;
    }

    &:last-child > th {
      border-bottom: 2px solid $table-th-border-color;
    }

    &.datatable-filters {

      & > th {
        @include rem(padding, 8px 8px 2px);
        @include rem(line-height, 34px);
        background-color: $table-filters-bg-color;
      }

      input[type="text"],
      select {
        @include rem(font-size, 12px);
        vertical-align: top;
      }

      select {
        width: 100%;
        max-width: 100%;
      }

      button {
        @include rem(padding-top, 8px);
        @include rem(padding-bottom, 8px);
        line-height: 1;
        vertical-align: top;
      }
    }
  }

  & > tfoot > tr > th {
    border-top: 1px solid #d7d7d7;
  }

  & > tbody > tr {

    & > td {
      @include rem(padding, 10px);

      &.no-results {
        text-align: center;
      }

      & > .label, & > a > .label {
        transform: translateY(-1px);
      }
    }

    &.sortable-placeholder td {
      background-color: $sortable-placeholder-bg-color;
      border-bottom: 1px solid $table-td-border-color;
    }

    &:not(.sortable-placeholder):not(.sortable-clone) {
      td {
        border-bottom: 1px solid #f3f3f1;
      }
    }

    &.sortable-clone td {
      background-color: #fff;
      border-bottom: 1px solid $table-td-border-color;
    }

    &:first-child td {
      border-top: none;
    }

    &.new {
      display: none;
    }

    &:hover td {
      background-color: $table-row--hover;
    }

    &.selected td {
      background-color: $table-row--selected;
    }

    &.selected:hover td {
      background-color: $table-row--selected--hover;
    }

    &.valign-top td {
      vertical-align: top;
    }

    td.col-actions {
      @include rem(padding-top, 8px);
      @include rem(padding-bottom, 8px);

      & > a {
        position: relative;
        @include rem(top, 3px);
        display: inline-block;
        @include rem(margin-right, 3px);
        @include rem(width, 20px);
        @include rem(height, 20px);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @include respond-to-max($breakpoint-menu-slide-in - 1px) {

    & > thead > tr > th,
    & > tfoot > tr > th {
      display: none;
    }

    & > tbody > tr {
      display: block;
      @include rem(margin-bottom, 15px);
      border: 1px solid #f3f3f1;

      & > td {
        display: block;
        @include rem(padding, 5px 10px);
        text-align: left !important;
        border-bottom: none !important;
        background-color: #fff;

        &:before {
          margin-right: 5px;
          content: attr(data-title) ":";
          font-weight: 600;
        }
      }
    }
  }

  @include respond-to-min($breakpoint-menu-slide-in) {

    & > tbody > tr > td {
      &:first-child {
        border-left: 1px solid $table-th-border-color;
      }

      &:last-child {
        border-right: 1px solid $table-th-border-color;
      }
    }
  }
}

.table-head--cell,
.table-body--cell {
  text-align: left;

  &.center {
    text-align: center;
  }
}

.table-head--cell {
  @include rem(padding, 10px);
  font-weight: 600;
  color: #444;
  text-align: left;
  background-color: $table-th-bg-color;

  &:first-child {
    border-left: 1px solid $table-th-border-color;
  }

  &:last-child {
    border-right: 1px solid $table-th-border-color;
  }

  a {
    color: $table-th-link-color;

    span {
      border-bottom: 1px dotted darken($table-th-border-color, 15%);
    }

    &:hover span {
      border-color: $table-th-link-color;
    }

    [class*="icon-sortable-"] {
      @include rem(padding-left, 2px);
    }
  }

  .table-head--row:first-child & {
    border-top: 1px solid $table-th-border-color;
  }

  .table-head--row:last-child & {
    border-bottom: 2px solid $table-th-border-color;
  }
}

.table-body {
  list-style: none;
  margin: 0;
  padding: 0;
}
