.menu {
  position: relative;
}

.menu--item {
  user-select: none;

  &.active {
    background-color: $body-bg-color;
  }
}

.menu--item-link {
  position: relative;
  display: block;
  color: #bfcbd4;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover,
  &:focus {
    outline: none;
  }

  &:not(.is-nested) {
    font-weight: 600;
    @include rem(padding, 0 10px 0 21px);
    @include rem(line-height, 48px);

    &:hover,
    &:focus {
      color: #d1dee7;
      background-color: lighten($brand-primary, 8%);
    }
  }

  &.is-nested {
    @include rem(padding, 8px 0 7px 64px);
    @include rem(line-height, 20px);

    &:focus,
    &:hover {
      color: #d1dee7;
      background-color: lighten($brand-primary, 8%);
    }
  }
}

.active .menu--item-link {
  color: #333;

  &:focus,
  &:hover {
    color: #333;
    background-color: #ecedee;
  }
}

.active > .menu--item-link {

  &,
  &:focus,
  &:hover {
    color: #2f3337;
  }

  &:not(.is-nested) {
    border-left: 9px solid lighten($brand-primary, 20%);
    @include rem(padding-left, 12px);
  }

  &.is-nested {

    .menu--item-name {
      border-left: 3px solid lighten($brand-primary, 20%);
      @include rem(margin-left, -13px);
      @include rem(padding-left, 10px);
    }
  }
}

.menu--item-icon {
  position: absolute;
  @include rem(top, 12px);
  @include rem(width, 24px);

  &:before {
    position: relative;
    @include rem(font-size, 24px);
  }

  &.icon-logout:before {
    @include rem(top, 2px);
    @include rem(padding-left, 4px);
    @include rem(font-size, 20px);
  }
}

.menu--item-name, .menu--item-short-name {
  display: inline-block;
  width: 100%;
  @include rem(padding-right, 10px);
  @include rem(line-height, 20px);
}

[class*="icon-"] ~ .menu--item-name, [class*="icon-"] ~ .menu--item-short-name {
  @include rem(padding, 0 16px 0 31px);
}

.menu--item-short-name {
  display: none;
}

.menu--item-caret {
  position: absolute;
  margin-right: 0;
  @include icon($icon-arrow-left);
  @include rem(top, 16px);
  @include rem(right, 8px);
  transition: all 0.25s ease-in-out;
  transform-origin: center;

  &:before {
    @include rem(font-size, 17px);
  }
}

.open > .menu--item-link > .menu--item-caret {
  transform: rotate(-90deg) translateX(1px) translateY(-1px);
}

.menu--item-subnav.tether-element {
  display: block !important;
  margin: 0;
  padding: 0;
  list-style: none;

  .menu--item-link {
    @include rem(padding-left, 20px);
    @include rem(padding-right, 10px);
    min-height: 0;
    background-color: darken($brand-primary, 5%);

    &:hover,
    &:focus {
      color: #d1dee7;
      background-color: lighten($brand-primary, 3%);
    }
  }

  .menu--item.active {

    .menu--item-link {
      color: #bfcbd4;

      &:hover,
      &:focus {
        color: #d1dee7;
      }
    }
  }

  .menu--item-name {
    display: inline-block;
  }

  body:not(.sidebar-is-collapsed) & {
    display: none;
  }
}

@include respond-to-min-max($breakpoint-menu-slide-in, $breakpoint-menu-collapsed - 1px) {

  .menu--item-link {
    @include rem(min-height, 48px);
  }

  .menu--item-name,
  .menu--item-caret {
    display: none;
  }

  .menu--item-subnav.collapse.show {
    display: none;
  }
}

@include respond-to-min($breakpoint-menu-collapsed) {

  .sidebar-is-collapsed {

    .menu--item-link {
      @include rem(min-height, 48px);
    }

    .menu--item-name,
    .menu--item-caret {
      display: none;
    }

    .menu--item-subnav.collapse.show {
      display: none;
    }
  }
}
