.sidebar {
  position: absolute;
  left: -99999px;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  float: left;
  width: $sidebar-width--collapsed;
  background-color: $sidebar-bg-color;
  z-index: $zindex-sidebar;
  opacity: 0;
  transition: opacity 0.2s ease;

  .gm-scrollbar.-vertical {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &:hover {
    .gm-scrollbar.-vertical {
      opacity: 1;
    }
  }
}

.sidebar--open-handle {
  display: none;
  position: absolute;
  @include rem(top, 9px);
  @include rem(right, -16px);
  @include rem(width, 16px);
  @include rem(height, 25px);
  @include rem(font-size, 14px);
  border-radius: 0 3px 3px 0;
  text-align: center;
  color: #bfcbd4;
  text-decoration: none;
  background-color: lighten($brand-primary, 15%);
  transition: all 0.2s ease;

  &:focus,
  &:hover {
    color: #fff;
  }
}

.sidebar--open-handle-icon {
  display: inline-block;

  &:before {
    position: relative;
    @include rem(top, 2px);
    @include rem(left, -1px);
  }
}

.sidebar--logo {
  position: relative;
  @include rem(height, 42px);
  background-color: lighten($brand-primary, 15%);
  color: #fff;
  @include rem(font-size, 21px);
  @include rem(line-height, 42px);
}

.sidebar--logo-short {
  display: none;
  text-align: center;
}

.sidebar--logo-full {
  @include rem(padding-left, 42px);
}

.sidebar--navigation-toggle {
  position: absolute;
  display: inline-block;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  font-size: 0;
  z-index: 5;
  @include rem(width, 24px);
  @include rem(height, 24px);
  @include rem(top, 9px);
  @include rem(left, 10px);
  user-select: none;
  border-radius: 5px;
  transition: .3s;

  &:focus,
  &:hover {
    outline: none;
    box-shadow: none;
  }
}

.sidebar--navigation-toggle-lines {
  position: relative;

  &,
  &:before,
  &:after {
    display: inline-block;
    @include rem(width, 20px);
    @include rem(height, 3px);
    transition: .3s;
    border-radius: 2px;
    background-color: #fff;
  }

  &:before,
  &:after {
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 10px center;
  }

  &:before {
    @include rem(top, -6px);
  }

  &:after {
    @include rem(top, 6px);
  }
}

.sidebar--logo {

  .sidebar--navigation-toggle-lines {
    @include rem(top, -1px);
  }
}

.sidebar--menu-wrapper {
  height: calc(100vh - #{rem-convert(rem, 42px)});
  height: calc(100vh - #{rem-convert(px, 42px)});

  &:not(.gm-prevented) {
    overflow-y: hidden;
  }
}

.sidebar--menu {
  @include rem(padding-bottom, 30px);
  @include rem(max-width, 240px);
}

@include respond-to-max($breakpoint-menu-slide-in - 1px) {
  .sidebar-is-open {

    .sidebar {
      left: 0;
      width: 100%;
      opacity: 1;
    }

    .sidebar--navigation-toggle-lines {
      background-color: transparent;

      &:before {
        @include rem(top, -9px);
        transform: rotate3d(0, 0, 1, 45deg);
        transform-origin: 0 7px;
      }

      &:after {
        @include rem(top, 3px);
        transform: rotate3d(0, 0, 1, -45deg);
        transform-origin: 7px 0;
      }
    }

    .sidebar--menu {
      max-width: 100vw;

      &:before {
        content: 'open';
        display: none;
      }
    }
  }
}

@include respond-to-min-max($breakpoint-menu-slide-in, $breakpoint-menu-collapsed - 1px) {

  .sidebar {
    left: 0;
    width: $sidebar-width--collapsed;
    opacity: 1;
    transition: none;
  }

  .sidebar--menu {

    &:before {
      content: 'collapsed';
      display: none;
    }
  }

  .sidebar--navigation-toggle,
  .sidebar--logo-full {
    display: none;
  }

  .sidebar--logo-short {
    display: block;
  }
}

@include respond-to-min($breakpoint-menu-collapsed) {

  .sidebar {
    left: 0;
    width: $sidebar-width;
    opacity: 1;
    transition: none;
  }

  .sidebar--navigation-toggle {
    display: none;
  }

  .sidebar--open-handle {
    display: inline-block;
  }

  .sidebar--logo-full {
    @include rem(padding-left, 22px);
  }

  .sidebar-is-collapsed {

    .sidebar {
      width: $sidebar-width--collapsed;

      & + #content {
        margin-left: $sidebar-width--collapsed;
      }
    }

    .sidebar--logo-full {
      display: none;
    }

    .sidebar--logo-short {
      display: block;
    }

    .sidebar--open-handle-icon {
      transform: rotate(-180deg);

      &:before {
        @include rem(top, -3px);
        left: 0;
      }
    }
  }
}
