.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 3px solid $border-light;

  & > li {
    float: left;

    & > a {
      display: inline-block;
      @include rem(padding, 10px 15px);
      color: #333;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: #eff0f1;
      }
    }

    &.active > a {
      cursor: default;
      background-color: $border-light;
    }

    &[data-tabify-disabled="1"] > a {
      color: #999;
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }

    &.has-error > a {
      color: $state-error-font-color;
    }
  }
}

.tab-content {
  @include rem(margin-bottom, 20px);
  border-bottom: 1px solid $border-light;

  @include respond-to-max($breakpoint-menu-slide-in) {
    @include rem(padding, 20px);
    background-color: #fff;
    border: 1px solid $border-light;
    border-top-width: 0;
  }
}
