.toggle-switch {
  position: relative;
  display: block;
  @include clearfix();

  a {
    display: block;
    transition: all 0.2s ease-out;
  }

  label, > span {
    line-height: 2em;
    vertical-align: middle;
  }

  input:focus ~ span a,
  input:focus + label {
    background-color: #4f83ab;
  }
}

// don't hide the input from screen-readers and keyboard access
.toggle-switch input {
  position: absolute;
  opacity: 0;
  z-index: 3;
}

.toggle-switch input ~ span a + span {
  color: $font-color;

  & + span {
    color: #fff;
  }
}


.toggle-switch input:checked ~ span a {
  right: 50%;

  & + span {
    color: #fff;

    & + span {
      color: $font-color;
    }
  }
}

// inherit from label
.toggle-switch strong {
  font-weight: inherit;
}

.toggle-switch > span {
  position: relative;
  //overflow: hidden;
  display: block;
  min-height: 2em;
  // overwrite 3rd party classes padding
  padding: 0;
  text-align: left;
  background-color: #fcfcfc;
  border: 1px solid #e3e5e6;
}

.toggle-switch span span {
  position: relative;
  //z-index: 2;
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  user-select: none;
  transition: color 0.2s;
}

.toggle-switch a {
  position: absolute;
  right: 0;
  @include rem(top, -1px);
  //z-index: 1;
  display: block;
  width: 50%;
  @include rem(bottom, -1px);
  padding: 0;
  background-color: #3e5d79;
}

// Bugfix for older Webkit, including mobile Webkit. Adapted from
// http://css-tricks.com/webkit-sibling-bug/
@media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 1280px) {
  .toggle-switch {
    -webkit-animation: webkitSiblingBugfix infinite 1s;
  }
}

@-webkit-keyframes webkitSiblingBugfix {
  from {
    -webkit-transform: translate3d(0,0,0);
  } to {
    -webkit-transform: translate3d(0,0,0);
  }
}
